In [1]:
import pandas as pd

In [57]:
df = pd.read_csv("../data/defense_stats.csv", header=[0,1])

In [58]:
df.head()

  Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rk               Player             Nation
0                  1  Patrick van Aanholt             nl NED
1                  2        Tammy Abraham            eng ENG
2                  3            Che Adams            eng ENG
3                  4     Tosin Adarabioyo            eng ENG
4                  5               Adrián             es ESP

  Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0  \
                 Pos              Squad                Age               Born
0                 DF     Crystal Palace             30-137               1990
1                 FW            Chelsea             23-103               1997
2                 FW        Southampton             24-184               1996
3                 DF             Fulham             23-111               1997
4                 GK          Liverpool             34-010               1987

  Unnamed: 7_level_0 Tackles        ... Pressures Blocks                   \
                 90s     Tkl  TklW  ...   Att 3rd Blocks    Sh ShSv  Pass
0                9.2    1.30  0.87  ...      0.98   1.09  0.22  0.0  0.87
1                8.7    0.57  0.23  ...      6.44   0.80  0.23  0.0  0.57
2               15.0    1.13  0.53  ...      6.73   0.60  0.07  0.0  0.53
3               11.0    1.45  0.91  ...      0.09   0.82  0.55  0.0  0.27
4                2.0    0.00  0.00  ...      0.00   0.00  0.00  0.0  0.00

  Unnamed: 27_level_0 Unnamed: 28_level_0 Unnamed: 29_level_0  \
                  Int             Tkl+Int                 Clr
0                1.63                2.93                1.52
1                0.23                0.80                1.26
2                0.20                1.33                0.73
3                1.09                2.55                6.27
4                0.00                0.00                0.00

  Unnamed: 30_level_0 Unnamed: 31_level_0
                  Err             Matches
0                0.11             Matches
1                0.00             Matches
2                0.00             Matches
3                0.00             Matches
4                0.50             Matches

[5 rows x 32 columns]

In [59]:
col_list = [b if a.startswith("Unnamed") else a + " " + b for a,b in df.columns.to_list()]
df.columns = col_list

In [61]:
def pre_process(df):
    df = df.copy()
    df = df.drop(columns=["Rk", "Matches"])
    df = df[df.Player != "Player"]
    dtype_dict = {col:float for col in df.columns[6:]}
    df = df.astype(dtype_dict, copy=False)
    return df

processed_df = pre_process(df)

In [62]:
processed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465 entries, 0 to 482
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             465 non-null    object
 1   Nation             465 non-null    object
 2   Pos                465 non-null    object
 3   Squad              465 non-null    object
 4   Age                464 non-null    object
 5   Born               464 non-null    object
 6   90s                465 non-null    float64
 7   Tackles Tkl        465 non-null    float64
 8   Tackles TklW       465 non-null    float64
 9   Tackles Def 3rd    465 non-null    float64
 10  Tackles Mid 3rd    465 non-null    float64
 11  Tackles Att 3rd    465 non-null    float64
 12  Vs Dribbles Tkl    465 non-null    float64
 13  Vs Dribbles Att    465 non-null    float64
 14  Vs Dribbles Tkl%   412 non-null    float64
 15  Vs Dribbles Past   465 non-null    float64
 16  Pressures Press    465 non-null    float64
 17  Pressures Succ     465 non-null    float64
 18  Pressures %        453 non-null    float64
 19  Pressures Def 3rd  465 non-null    float64
 20  Pressures Mid 3rd  465 non-null    float64
 21  Pressures Att 3rd  465 non-null    float64
 22  Blocks Blocks      465 non-null    float64
 23  Blocks Sh          465 non-null    float64
 24  Blocks ShSv        465 non-null    float64
 25  Blocks Pass        465 non-null    float64
 26  Int                465 non-null    float64
 27  Tkl+Int            465 non-null    float64
 28  Clr                465 non-null    float64
 29  Err                465 non-null    float64
dtypes: float64(24), object(6)
memory usage: 112.6+ KB

In [74]:
defenders_df = processed_df.loc[df["Pos"] == "DF"]
def_stats_df = defenders_df[["Player", "Squad", "Age", "90s", "Tackles Tkl", "Blocks Blocks", "Int", "Tkl+Int", "Clr", "Err"]]

In [68]:
def_stats_df.loc[def_stats_df["90s"] >= 5].sort_values(by="Tackles Tkl", ascending=False).head(10)

,Player,Squad,90s,Tackles Tkl,Blocks Blocks,Int,Tkl+Int,Clr,Err
31,Serge Aurier,Tottenham,7.7,5.19,1.95,1.56,6.75,3.64,0.13
301,Tyrick Mitchell,Crystal Palace,8.0,4.00,2.75,0.88,4.88,2.88,0.00
455,Aaron Wan-Bissaka,Manchester Utd,15.0,3.67,3.73,1.33,5.00,2.93,0.00
445,Joël Veltman,Brighton,9.6,3.33,1.46,1.04,4.38,2.92,0.00
97,Vladimír Coufal,West Ham,12.9,3.33,2.71,0.78,4.11,3.49,0.08
95,Liam Cooper,Leeds United,10.8,3.06,1.57,1.39,4.44,4.44,0.00
454,Kyle Walker-Peters,Southampton,17.0,3.06,2.59,1.29,4.35,2.12,0.12
272,Solly March,Brighton,14.6,2.88,2.67,0.96,3.84,0.62,0.00
399,Luke Shaw,Manchester Utd,11.9,2.77,2.18,0.59,3.36,2.10,0.08
270,Javier Manquillo,Newcastle Utd,5.1,2.75,1.57,0.78,3.53,2.16,0.00

In [69]:
def_stats_df.loc[def_stats_df["90s"] >= 5].sort_values(by="Clr", ascending=False).head(10)

,Player,Squad,90s,Tackles Tkl,Blocks Blocks,Int,Tkl+Int,Clr,Err
291,Ben Mee,Burnley,10.0,0.80,2.10,0.20,1.00,7.30,0.00
46,Kyle Bartley,West Brom,8.3,0.84,2.41,0.36,1.20,6.87,0.00
37,Fabián Balbuena,West Ham,12.0,1.83,1.83,1.00,2.83,6.75,0.08
117,Eric Dier,Tottenham,15.0,0.60,1.47,0.67,1.27,6.67,0.00
327,Angelo Ogbonna,West Ham,16.7,0.96,1.80,0.60,1.56,6.65,0.00
139,Federico Fernández,Newcastle Utd,15.3,1.83,2.42,0.46,2.29,6.54,0.07
12,Toby Alderweireld,Tottenham,10.9,1.74,2.02,0.09,1.83,6.42,0.00
422,James Tarkowski,Burnley,14.0,2.14,1.79,1.00,3.14,6.36,0.07
3,Tosin Adarabioyo,Fulham,11.0,1.45,0.82,1.09,2.55,6.27,0.00
384,Romain Saïss,Wolves,12.7,1.10,2.05,0.94,2.05,6.14,0.00

In [71]:
def_stats_df.loc[def_stats_df["90s"] >= 5].sort_values(by="Blocks Blocks", ascending=False).head(10)

,Player,Squad,90s,Tackles Tkl,Blocks Blocks,Int,Tkl+Int,Clr,Err
455,Aaron Wan-Bissaka,Manchester Utd,15.0,3.67,3.73,1.33,5.00,2.93,0.00
122,Matt Doherty,Tottenham,7.8,1.92,2.95,0.64,2.56,3.33,0.00
456,Joel Ward,Crystal Palace,8.0,1.75,2.88,1.38,3.13,4.63,0.00
324,Dara O'Shea,West Brom,11.1,2.07,2.88,0.99,3.06,5.23,0.00
35,César Azpilicueta,Chelsea,6.6,1.67,2.88,0.61,2.27,3.03,0.15
277,Arthur Masuaku,West Ham,9.4,1.81,2.87,0.32,2.13,1.49,0.00
261,David Luiz,Arsenal,5.3,1.51,2.83,0.57,2.08,4.34,0.19
370,Antonee Robinson,Fulham,12.0,1.75,2.83,1.75,3.50,3.58,0.00
301,Tyrick Mitchell,Crystal Palace,8.0,4.00,2.75,0.88,4.88,2.88,0.00
97,Vladimír Coufal,West Ham,12.9,3.33,2.71,0.78,4.11,3.49,0.08

In [72]:
def_stats_df.loc[def_stats_df["90s"] >= 5].sort_values(by="Int", ascending=False).head(10)

,Player,Squad,90s,Tackles Tkl,Blocks Blocks,Int,Tkl+Int,Clr,Err
36,Eric Bailly,Manchester Utd,5.1,0.78,1.96,2.75,3.53,5.29,0.00
193,Mason Holgate,Everton,7.9,2.03,2.15,2.03,4.05,3.54,0.00
266,Harry Maguire,Manchester Utd,17.0,1.06,1.41,2.00,3.06,4.41,0.00
164,Ben Godfrey,Everton,10.7,2.15,2.24,1.87,4.02,2.80,0.00
370,Antonee Robinson,Fulham,12.0,1.75,2.83,1.75,3.50,3.58,0.00
145,Wesley Fofana,Leicester City,12.0,2.42,2.33,1.75,4.17,4.17,0.00
0,Patrick van Aanholt,Crystal Palace,9.2,1.30,1.09,1.63,2.93,1.52,0.11
6,Ola Aina,Fulham,12.0,1.75,1.42,1.58,3.33,3.58,0.00
31,Serge Aurier,Tottenham,7.7,5.19,1.95,1.56,6.75,3.64,0.13
152,Christian Fuchs,Leicester City,7.8,1.92,2.05,1.54,3.46,3.97,0.00

In [75]:
def_stats_df["Int+Clr"] = def_stats_df["Int"] + def_stats_df["Clr"]
def_stats_df.loc[def_stats_df["90s"] >= 5].sort_values(by="Int+Clr", ascending=False).head(10)

C:\Users\kwj_9\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Player,Squad,Age,90s,Tackles Tkl,Blocks Blocks,Int,Tkl+Int,Clr,Err,Int+Clr
36,Eric Bailly,Manchester Utd,26-276,5.1,0.78,1.96,2.75,3.53,5.29,0.00,8.04
37,Fabián Balbuena,West Ham,29-143,12.0,1.83,1.83,1.00,2.83,6.75,0.08,7.75
291,Ben Mee,Burnley,31-112,10.0,0.80,2.10,0.20,1.00,7.30,0.00,7.50
422,James Tarkowski,Burnley,28-055,14.0,2.14,1.79,1.00,3.14,6.36,0.07,7.36
3,Tosin Adarabioyo,Fulham,23-111,11.0,1.45,0.82,1.09,2.55,6.27,0.00,7.36
117,Eric Dier,Tottenham,26-364,15.0,0.60,1.47,0.67,1.27,6.67,0.00,7.34
327,Angelo Ogbonna,West Ham,32-235,16.7,0.96,1.80,0.60,1.56,6.65,0.00,7.25
46,Kyle Bartley,West Brom,29-236,8.3,0.84,2.41,0.36,1.20,6.87,0.00,7.23
49,Jan Bednarek,Southampton,24-276,16.0,0.94,1.69,1.44,2.38,5.69,0.06,7.13
384,Romain Saïss,Wolves,30-293,12.7,1.10,2.05,0.94,2.05,6.14,0.00,7.08